// Import prerequisites
@import 'lib/vars';
@import 'lib/functions';
@import 'lib/mixins';

// Import node modules
@import 'node_modules/skel-framework-npm/dist/skel';
@import 'the-flex-grid';

// Import base
@import 'base/reset';
@import 'base/typography';
@import 'base/page';

// Import components
@import 'elements/header';
@import 'elements/footer';
@import 'elements/grid';
@import 'elements/case';
@import 'elements/about';
@import 'elements/contact';
