$mask-color: _palette(fg);

.case {
  &[style] {
    @include transition(background-size 1s);

    background-size: 100%;
    background-position: center center;
    position: relative;

    .mask {
      @include transition(background-color .7s);

      position: relative;
      background: rgba($mask-color, 0.5);
    }

    &:hover {
      background-size: 105%;

      .mask {
        background: rgba($mask-color, 0.7);
      }
    }
  }

  .row {
    height: 70vh;

    p {
      margin-bottom: 1rem;
      color: _palette(fg-white);
      font-size: 1.5rem;

      @include breakpoint(small) {
        font-size: 2.25rem;
      }

      @include breakpoint(xlarge) {
        font-size: 3.5rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}