<section class="grid about">
  <div class="row row-center row-middle row-reverse">
    <div class="col-4 col-small-10">
      <div class="icon blueprint">
        {{ partial "svg/blueprint.svg" }}
      </div>
    </div>
    <div class="col-4 col-small-10">
      <div class="content">
        <h2>Impact in kaart brengen</h2>
        <p>
            Ben jij op zoek naar hoe jouw bedrijf meer impact kan hebben? Of wil je meer weten over het effect van je product of dienst op de samenleving? Samen brengen we de waarde van jouw bedrijf in kaart. 
        </p>
      </div>
    </div>
  </div>
  <div class="row row-center row-middle">
    <div class="col-4 col-small-10">
      <div class="icon blueprint">
        {{ partial "svg/blueprint.svg" }}
      </div>
    </div>
    <div class="col-4 col-small-10">
      <div class="content">
          <h2>Tellen en vertellen</h2>
          <p>
              Wil jij aan je klanten en stakeholders laten zien dat jij daadwerkelijk positieve impact hebt op de samenleving? Ga dan aan de slag met een impactmeting. We brengen jouw impact in kaart en stellen vast wat gemeten kan worden, zowel kwalitatief als kwantitatief. Een helder en eerlijk verhaal dat om te delen met je stakeholders. 
          </p>
      </div>
    </div>
  </div>
  <div class="row row-center row-middle row-reverse">
      <div class="col-4 col-small-10">
        <div class="icon blueprint">
          {{ partial "svg/blueprint.svg" }}
        </div>
      </div>
      <div class="col-4 col-small-10">
        <div class="content">
          <h2>Impact in kaart brengen</h2>
          <p>
              Ben jij op zoek naar hoe jouw bedrijf meer impact kan hebben? Of wil je meer weten over het effect van je product of dienst op de samenleving? Samen brengen we de waarde van jouw bedrijf in kaart. 
          </p>
        </div>
      </div>
    </div>
</section>