<section class="grid about">

  <div class="row">
    <h2>Wil je weten hoe ik werk?</h2>
  </div>

  {{ $items := (where .Data.Pages "Section" "about") }}
  {{ $length := (len $items) }}

  {{ range $i,$p := where .Data.Pages "Section" "about" }}

    <div class="row {{ if (modBool $i 2) }}row-reverse{{ end }}">
      <div class="pusher"></div>
      <div class="icon">
        {{ partial .Params.icon }}
      </div>
      <div class="content">
        <div class="inner">
          <h3>{{ .Title }}</h3>
          <p>
              {{ .Content }}
          </p>
        </div>
      </div>
    </div>

    {{ if ne (add $i 1) $length }}
      {{ partial "about-line.html" }}
    {{ end }}

  {{ end }}

</section>