<section class="grid contact-form" style="background-image: url('{{ .Params.background }}')">

  <div class="mask">
      <div class="row row-middle row-center">
          <div class="col-10 inner">
            <div class="row info-box">

              <span class="light">{{ .Params.heading }}</span>

              <div class="col-large-7 col-small-12 slide-container">

                <div id="slide">

                  <div id="success">
                    <img src="https://media3.giphy.com/media/26ufhqlbeuJsUbvDG/giphy.gif" alt="Thanks!" />
                    <span>{{ .Params.contactform.success }}</span>
                  </div>

                  <form method="POST" id="contactform" action="https://formcarry.com/s/ryPHDtKTf">
                    <div class="form-element">
                      <input type="text" name="name" placeholder="{{ .Params.contactform.name }}" required /><span></span>
                    </div>
                    <div class="form-element">
                      <input type="email" name="email" placeholder="{{ .Params.contactform.email }}" required /><span></span>
                    </div>
                    <div class="form-element">
                      <textarea name="message" placeholder="{{ .Params.contactform.message }}"></textarea><span></span>
                    </div>
                    <input type="hidden" name="_gotcha">
                    <button type="submit">{{ .Params.contactform.button }}</button>
                  </form>
                </div>

              </div>

              <div class="col-small-12">
                <hr />
              </div>
              
              <div class="col-large-5 col-small-12">
                <ul>
                  <li><i class="fa fa-phone"></i><a href="call:{{ replace .Params.details.phone " " "" }}">{{ .Params.details.phone }}</a></li>
                  <li><i class="fa fa-envelope"></i><a href="mailto:{{ .Params.details.email }}">{{ .Params.details.email }}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  </div>
  
</section>