<section class="grid contact-form">

  <div class="mask">
      <div class="row row-middle row-center">
          <div class="col-10 inner">
            <div class="row info-box">

              <span class="light">Wil je meer weten? Ik help je graag!</span>

              <div class="col-8">
                <form method="POST">
                  <div class="form-element">
                    <input type="text" name="name" placeholder="Hoe heet je?" required /><span></span>
                  </div>
                  <div class="form-element">
                    <input type="email" name="email" placeholder="Op welk e-mailadres kan ik je bereiken?" required /><span></span>
                  </div>
                  <div class="form-element">
                    <textarea name="message" placeholder="Waarmee kan ik je helpen?"></textarea><span></span>
                  </div>
                  <button type="submit">Verstuur!</button>
                </form>
              </div>
              <div class="col-4">
                
              </div>
            </div>
          </div>
        </div>
  </div>
  
</section>