$svg-fill-color: _palette(fg-lighten);

.about {
  @include zigzag(white, transparent) {
    z-index: 100;
  }
  
  padding-top: 40px;

  h2 {
    text-align: center;
  }

  h3 {
    margin: 0;
  }

  .row {
    display: flex;
    margin-top: -50px;
    max-height: 220px;

    &:first-child {
      margin: 0;
    }

    &:last-child {
      margin-bottom: 30px;
    }

    .line {
      svg {
        margin: 0 auto;
        display: block;
        margin-top: -35px;
        transform: scale(.5);

        @include breakpoint(medium) {
          transform: scale(1);
        }

        path {
          stroke: $svg-fill-color;
        }
      }
    }
    
    .pusher {
      flex: 1;
    }

    .icon {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 0 50px;
      flex: 1;
      max-width: 100px;
      
      @include breakpoint(medium) {
        float: right;
      }
  
      svg {
        margin-top: 40px;
        fill: $svg-fill-color;
      }
    }

    .content {
      flex: 1;

      .inner {
        max-width: 400px;
      }

      p {
        padding-right: 50px;
        font-size: .8rem;

        @include breakpoint(medium) {
          font-size: 1rem;
        }

        @include breakpoint(large) {
          font-size: 1.2rem;
        }
      }
    }


    @include breakpoint(medium) {
      &.row-reverse {

        .pusher {
          margin-right: -10px;
        }

        .icon {
          align-items: flex-start;
        }

        .content {
          text-align: right;
          display: flex;
          flex-direction: row-reverse;


          p {
            padding: 0 0 0 50px;
          }
        }
      }

      .content {
        font-size: 1.2rem;
      }
    }
  }
}