$mask-color: _palette(fg);

.contact-form {
  @include zigzag(white, transparent) {
    z-index: 100;
  }

  background-image: url('/app/peacock.jpg');
  background-size: cover;
  position: relative;

  .mask {
    position: relative;
    background: rgba($mask-color, 0.5);
    padding-bottom: 100px;
  }

  .inner {
    padding-top: 120px;

    span.light {
      color: _palette(fg-white);
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 1.5rem;

      @include breakpoint(small) {
        font-size: 2.25rem;
      }

      @include breakpoint(xlarge) {
        font-size: 3.5rem;
      }
    }

    .info-box {
      background-color: _palette(magenta);
      padding: 30px 30px 70px;
      position: relative;
      overflow: hidden;

      &>div {

        &:nth-of-type(1) {
          border-right: 0;
          padding-right: 30px;

          @include breakpoint(large) {
            border-right: 1px _palette(fg-white) dashed;
            padding-right: 60px;
          }
        }
        
        &:nth-of-type(2) {
          padding: 30px 60px;

          ul {
            letter-spacing: 0;

            li {
              margin-bottom: 60px;
            }
          }

          a {
            color: _palette(fg-white);

            &:hover {
              color: desaturate(lighten(_palette(magenta), 15), 3);
            }
          }

          i {
            position: relative;
            left: -15px;
            color: _palette(fg-white);

            @include breakpoint(large) {
              font-size: 1.5rem;
            }

            @include breakpoint(medium) {
              font-size: 1rem;
            }

            @include breakpoint(xsmall) {
              font-size: .75rem;
            }
          }
        }
      }

      .slide-container {
        overflow: hidden;
        min-height: 450px;

        #slide {
          @include transition(left .5s);

          position: relative;
          display: flex;
          flex-direction: row;
          padding: 0;
          height: 100%;
          left: 0;

          #contactform, #success {
            width: 100%;
            position: absolute;
          }

          #success {
            display: none;
            overflow: hidden;
            flex-direction: column;
            align-items: center;

            span {
              color: _palette(fg-white);
              text-align: center;
              padding: 20px 50px;

              @include breakpoint(large) {
                font-size: 2.5rem;
              }
  
              @include breakpoint(medium) {
                font-size: 2rem;
              }
  
              @include breakpoint(xsmall) {
                font-size: 1.5rem;
              }
            }

            img {
              clip-path: circle(50% at 50% 50%);
              width: 40%;
            }
          }
        }
      }
    }
  }
}